<div class="container mt-4">
  <h1>{{ translate "en" "reports" }}</h1>

  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">
          {{ translate "en" "year-month" }}
        </th>
        <th scope="col">
          {{ translate "en" "seller-source" }}
        </th>
        <th scope="col">
          {{ translate "en" "amount" }}
        </th>
        <th scope="col">
          {{ translate "en" "download" }}
        </th>
      </tr>
    </thead>

    <tbody>
      {{#each reports}}
        <tr>
          <td>{{ this.datetime }}</td>
          <td>{{ this.party }}</td>
          <td>{{ this.amount }}</td>
          <td><a href="{{ this.download }}">{{ translate "en" "pdf" }}</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
